* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #050404;
    color: white;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/homeimg.png);
    background-size: cover;
    background-position: center;
}

.container {
    margin: 10px 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav img {
    width: 140px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: red;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    font-size: 30px;
    margin-top: 15%;
}

.header-text h1 {
    font-size: 45px;
    margin-top: 20px;
}

.header-text h1 span {
    color: red;
}

/* -------------------about------------------------ */

#about {
    padding: 80px 0px;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-colm-1 {
    flex-basis: 30%;
}

.about-colm-1 img {
    width: 100%;
    border-radius: 20px;
}

.about-colm-2 {
    flex-basis: 65%;
}

.sub-title {
    color: white;
    font-size: 45px;
}

.para {
    text-align: justify;
}

.tab-titles {
    display: flex;
    margin: 30px 0px;
}

.tab-link {
    margin-right: 60px;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.tab-link::after {
    content: "";
    height: 3px;
    width: 0%;
    background-color: red;
    position: absolute;
    left: 0px;
    bottom: -6px;
}

.tab-link.active-link::after {
    width: 50%;
}

.tab-content ul li {
    list-style: none;
    margin: 20px 0px;
}

.tab-content ul li span {
    color: crimson;
    font-size: 13px;
    font-weight: 600;
}

.tab-content {
    display: none;
}

.active-tab {
    display: block;
}

/* ------------------services--------------------------- */
#services {
    margin: 40px 0px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: #262626;
    padding: 40px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
}

.services-list div h1 {
    margin: 30px 0px;
    font-weight: 900;
}

.services-list div p {
    font-size: 13px;
    font-weight: 600;
}

.services-list div a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    margin-top: 30px;
    display: inline-block;
}

.services-list div:hover {
    background-color: red;
    transform: translateY(-10px);
}

/* ------------------------------portfolio------------------------ */
#portfolio {
    margin: 100px 0px;
}

.my-work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.work img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    text-align: center;
    transition: all 0.5s;
    border-radius: 10px;
    overflow: hidden;
}

.layer h3 {
    font-weight: 900;
    font-size: 20px;
}

.layer p {
    margin: 30px 0px;
    font-weight: 600;
}

.layer a {
    background-color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
}

.work:hover .layer {
    height: 100%;
}

.work:hover img {
    transform: scale(1.1);
}

.btn {
    text-decoration: none;
    color: white;
    border: 1px solid red;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 14px 50px;
    border-radius: 10px;
    transition: background 0.5s;
}

.btn:hover {
    background-color: red;
}

/* --------------------------contact-------------------- */
.contact-left {
    /* border: 1px solid red; */
    flex-basis: 35%;
}

.contact-right {
    /* border: 1px solid red; */
    flex-basis: 60%;
}

.contact-left p {
    margin: 20px 0px;
}

.contact-left p i {
    color: red;
    font-size: 30px;
    margin-right: 20px;
}

.social-media {
    margin: 40px 0px;
}

.social-media a i {
    font-size: 35px;
    margin-right: 15px;
    color: #ababab;
    transition: transform 0.5s;
}

.social-media a i:hover {
    color: red;
    transform: translateY(-10px);
}

.btn1 {
    background-color: red;
    display: inline-block;
}

.contact-right form {
    width: 100%;
    /* border: 1px solid red; */
}

form input,
textarea {
    width: 100%;
    margin: 15px 0px;
    padding: 15px 0px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #262626;
    color: white;
    font-size: 15px;
    resize: none;
}

.btn2 {
    font-size: 18px;
    padding: 14px 60px;
}

.copyright {
    text-align: center;
    background-color: #262626;
    padding: 20px;
    font-weight: 600;
}

.copyright p i {
    color: red;
}

.msg {
    color: green;
    margin-top: -10px;
}

.btn2:active {
    background-color: green;
}

nav .fa-solid {
    display: none;
}

@media only screen and (max-width:600px) {

    #header {
        background-image: url(images/phonlogo.png);
    }

    body {
        background-color: #000;
    }

    nav img {
        width: 120px;
    }


    nav ul {
        background-color: red;
        height: 100vh;
        width: 0px;
        position: fixed;
        top: 0px;
        right: 0px;
        padding-top: 50px;
        transition: width 0.5s;
        z-index: 2;
    }

    nav .fa-solid {
        font-size: 25px;
        display: block;
    }

    .fa-xmark {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    nav ul li {
        display: block;
        margin: 20px;
    }

    .header-text {
        font-size: 20px;
        margin-top: 90%;
    }

    .header-text h1 {
        font-size: 30px;
        margin-top: 20px;
    }

    .about-colm-1 {
        flex-basis: 100%;
    }

    .about-colm-2 {
        flex-basis: 100%;
    }

    .tab-link {
        margin-right:20px;
    }

    .about-colm-2 p {
        font-size: 18px;
    }

    .contact-left {
        /* border: 1px solid red; */
        flex-basis: 100%;
    }

    .contact-right {
        /* border: 1px solid red; */
        flex-basis: 100%;
    }

    .contact-right .btn2 {
        display: block;
    }

    .copyright p {
        font-size: 12px;
    }
}